@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: #E7EFF2;
    margin: 20px 0;
    background-image: url(ED.jpg), url(echange.png);
    background-size: 50%, 9%;
    background-repeat: no-repeat, no-repeat;
    background-position: 400px 250px, top left;
    font-family: 'Roboto', sans-serif;
}

h1 {text-align: center;
    font-size: 40px;
    margin-bottom: 1em;
}
  
input {
    font-size: 38px;
    -moz-appearance: textfield;
    text-align: right;
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
    text-align:center;
}
  
.devise {
    display: flex;
    justify-content: center;
    align-self: center;
}

.euro {
    font-size: 38px;
    margin-right: 10px;
}

.dollar {
    font-size: 38px;
}
.reset {
  position: absolute;
  align-self: center;
  margin-top: 130px;
  font-family: 'Playfair Display', serif;
}